.wrapper-notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper-notfound main {
  text-align: center;
}
.wrapper-notfound main .image {
  max-width: 100%;
}
.wrapper-notfound main .btn-yellow {
  margin-top: 20px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}