.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  
    h2 {
      margin-bottom: 20px;
      text-align: left; // Align the text to the left
    }
  
    form {
      width: 100%;
  
      .form-group{
        margin-bottom: 20px;
        text-align: left; // Align the text to the left
  
        label {
          display: block;
          margin-bottom: 8px;
        }
  
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-sizing: border-box;
          text-align: left; // Align the text to the left
        }

        input[type="message"] {
          padding-bottom: 50px;
        }

      }
    
  
      button {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #45a049;
        }
      }
    }
}