.why-choose-us {
    position: relative;
    padding-top: 75px;

    @media (max-width: 1200px) {
        padding-bottom: 100px;
    }

    .container {
        display: grid;
        grid-template-columns: 2fr 4fr;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr;
        }

        .text-section {

            @media (max-width: 1200px) {
                margin: auto;
            }

            
            p1 {
                color: #F94D1C;
                font-size: 18px;
                
            }

            h1 {
                margin-bottom: 20px;
                margin-top: 20px;
                font-size: 45px;
                font-weight: bold;
                font-family: 'DM Sans', sans-serif;
                max-width: 400px;

                @media (max-width: 576px) {  
                    font-size: 23px;  
                    text-align: center;
                }
            }

            .item {
                display: flex;
                align-items: center;

                .circle {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid #DAD9D3;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    background-color: transparent;
                }

                img {
                    max-width: 100%;
                }

                h2 {
                    font-size: 22px;
                    font-weight: bold;
                    font-family: 'DM Sans', sans-serif;
                    margin-top: 10px; 
                }

                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }

        }

        .image-section {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-left: auto;
                margin-bottom: 100px;
                max-width: 100%;

                @media (max-width: 1600px) {
                    margin: auto;
                }

            }
        }
    }

    .image-box {
        background-color: #F0EFE9;
        position: absolute;
        top: 250px;
        right: 0;
        bottom: 0;
        height: 425px;
        width: 1057px;
        z-index: -1;

        @media (max-width: 1600px) {
            display: none;
        }
    }
}