.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 0;
}
.newsletter .background-lines-news {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: -1;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1019607843);
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .newsletter {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
  }
  .newsletter .background-lines-news {
    display: none;
  }
  .newsletter .container {
    flex-direction: column;
  }
  .newsletter .container .btn-yellow {
    width: 100%;
  }
  .newsletter .container h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  .newsletter .container h2 {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .newsletter .container form input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}